body{
    background-color: rgb(6, 30, 41);
}
.card{
    display:flex;
    flex-direction: column;
    background-color:rgb(0, 0, 0);
    width:90%;
    height:200px;
    max-width:1000px;
    height:200px
}
.cardInputBox{
    background-color: rgb(29, 84, 109);
    width:100%;
    height:100px;
}
.cardInput{
    background-color:rgb(95, 149, 152);
    width:80%;
    height:30px;
    font-size:25px;
    
}
#titleDiv{

}
#titleInput{
    
}
