body{
    background-color: rgb(54, 101, 107);
}
.setDiv{
    background-color: rgb(117, 176, 111);
    width:90%;
    height:200px;
    max-width:1000px;
    height:200px
}
.cardDiv{
    display:flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    width:90%;
    height:200px;
    max-width:1000px;
    height:200px;
    margin-bottom: 10px;
}
